h1 {
  background-color: #999;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.position {
  display: flex;
  background-image: radial-gradient(#c29b9b, #6db4ee);
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.calculator {
  display: inline-block;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 5px;
  background-color: #999;
  box-shadow: 2px 2px 2px black;
  font-family: Arial, sans-serif;
  margin: 5%;
}

input {
  height: 40px;
  width: 95%;
  font-size: 20px;
}

.operand,
.operator,
.clear {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
  background-color: #eee;
  color: #333;
  border: none;
  outline: none;
  cursor: pointer;
}

.operand:hover,
.operator:hover,
.clear:hover {
  background-color: #ddd;
}

.operand:active,
.operator:active,
.clear:active {
  background-color: #ccc;
}

.operator {
  background-color: #f00;
  color: #fff;
}